/* Fonts */

/* azeret-mono-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Azeret';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/azeret/azeret-mono-light.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* azeret-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Azeret';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/azeret/azeret-mono-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* azeret-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Azeret';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/azeret/azeret-mono-bold.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}
